@model InputAsp.Models.Applicant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Applicant</h4>
<hr />

@*Penambahan untuk style design*@
<div class="col-11 mx-auto pt-0">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Create Applicant</h4>
        </div>
        <form enctype="multipart/form-data" asp-action="Create">
            <div class="row">

                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Qualification" class="control-label"></label>
                        <input asp-for="Qualification" class="form-control" />
                        <span asp-validation-for="Qualification" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalExperience" class="control-label"></label>
                        <input asp-for="TotalExperience" class="form-control" />
                        <span asp-validation-for="TotalExperience" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 btn-group">
                    <div class="form-group col-8 p-0">
                        <label asp-for="ProfilePhoto" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ProfilePhoto" class="custom-file-input" id="customFile"
                                   onChange="document.getElementById('PreviewPhoto').src= window.URL.createObjectURL(this.files[0])" />
                            <label clas="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
                </div>

                <div class="form-group d-flex justify-content-end p-5">
                    <img id="PreviewPhoto" src="~/Images/noimage.png" alt="Logo Image"
                         width="125" height="125" style="border:1px; margin-top:20px;" />
                </div>

                <div class="col-md-12">
                    <table id="ExpTable" class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Company Name
                                </th>
                                <th>
                                    Designation
                                </th>
                                <th>
                                    YearsWorked
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model.Experiences)*@
                            @for (int i = 0; i < Model.Experiences.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.EditorFor(x => x.Experiences[i].CompanyName, new {htmlAttributes = new {@class = "form-control"}})
                                        @*<input asp-for="@item.CompanyName" class="form-control" />*@
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => x.Experiences[i].Designation, new {htmlAttributes = new {@class = "form-control"}})
                                        @*<input asp-for="@item.Designation" class="form-control" />*@
                                    </td>
                                    <td>
                                        @Html.EditorFor(x => x.Experiences[i].YearsWorked, new {htmlAttributes = new {@class = "form-control"}})
                                        @*<input asp-for="@item.YearsWorked" class="form-control" />*@
                                    </td>
                                    <td>
                                        <button id="btnadd-@i" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Add</button>
                                        <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger invisible" onclick="RemoveItem(this)">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-12 btn-group d-flex justify-content-center">
                    <div class="form-group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">Back</a>
                    </div>
                    <div class="form-group text-left p-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $('custom-file-input').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
        });


        function AddItem(btn) {
            var table = document.getElementById("ExpTable");
            var row = table.insertRow(-1);
            var col1 = row.insertCell(0);
            var col2 = row.insertCell(1);
            var col3 = row.insertCell(2);
            var col4 = row.insertCell(3);
            col1.innerHTML = "<input name='Experiences[" + table.rows.length + "].CompanyName' class='form-control' />";
            col2.innerHTML = "<input name='Experiences[" + table.rows.length + "].Designation' class='form-control' />";
            col3.innerHTML = "<input name='Experiences[" + table.rows.length + "].YearsWorked' class='form-control' type='number' min='0' max='50' value= '0' />";
            col4.innerHTML = "<button type='button' class='btn btn-sm btn-danger' onclick='RemoveItem(this)'>Delete</button>";
            var addButton = button.parentNode.querySelector("#btnadd");
            addButton.classList.add("invisible");
            var removeButton = button.parentNode.querySelector("#btnremove");
            removeButton.classList.remove("invisible");
        }

        function RemoveItem(btn) {
            var row = btn.parentNode.parentNode;
            var table = row.parentNode;
            table.deleteRow(row.rowIndex);
        }

    </script>
}
